# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
reporting/build/asset-manifest.json
reporting/build/favicon.ico
reporting/build/index.html
reporting/build/manifest.json
reporting/build/service-worker.js
reporting/build/static/css/*.map
reporting/build/static/js/*.map
